**/.DS_Store
**/venv/
**/.gitignore
**/LICENSE
**/README.md
**/*.log
**/__init__.py
**/.gitignore
**/.dockerignore
**/.env
**/.git
**/.vscode
**/.idea
**/docker-compose*
**/compose*
**/Dockerfile*
**/__pycache__